.cal {
  width: 80%;
  margin: 0 auto;
}
.week_calendar_title {
  line-height: 40px;
  margin: 0;
}
.cal_time {
  border-bottom: solid 1px rgb(218, 218, 218);;
  height: 40px;
  margin: 0;
  text-align: center;
  line-height: 40px;
}
.cal_time:hover {
  background-color: aqua;
}

.cal_day {
  width: calc(100%/8);
  border: solid 1px rgb(218, 218, 218);
  border-bottom: none;
  margin-left: -1px;
  padding: 0;
}
